html, body {
  height: 100%;
  width: 100%;
}

#reviews {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: maroon;
}

#review {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: navy;
}